.nav{
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.nav_div_1{
    display: inline-block;
}

.nav_div_2{
    margin-top: 1.5em;
    display: inline-block;
    
}

.nav_div_3{
    margin-top: 1.5em;
    display: inline-block;
}

.nav_div_1_ul{
    list-style: none;
}

.nav_div_1_ul_item{
    display: inline;
}

.nav_div_1_ul_item_text{
    display: inline;
    font-size: 2.5em;
}

.nav_div_dropdown{
    display: inline-block;
    margin-left: 0.8em;
    font-size: 1.5em;
    font-weight: 500;
}


#cart{
    font-size: 1.8em;
    color:rgb(189, 189, 189);
    margin-left: 20px;
}

#search{
    font-size: 1.8em;
    color: rgb(139, 146, 153);
}

#nav_div_link {
    color: black;
    text-decoration: none;
}