.part_5{
    box-sizing: border-box;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.part_5_product_card{
    border: 3px solid rgb(198, 214, 173);
    display: inline;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product_card_img{
    margin: 0;
}

.product_img{
    height: 350px;
    width: 230px;
}

.product_card_decs{
    margin: 0;
}

.product_card_title{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.product_price{
    margin-top: 5px;
    margin-bottom: 5px;
}

.product_card_price_new{
    display: inline;
    font-size: 20px;
    color: red;
}

.product_card_price_old{
    margin-left: 10px;
    display: inline;
    font-size: 18px;
    color: rgb(121, 116, 116);
}

#part_5_title {
    text-align: center;
    margin-top: 20;
    margin-bottom: 0px;
    font-size: 50px;
}

#part_5_title_line {
    margin-top: 0px;
    width: 8%;
    align: centre;
}

.checked{
    color: yellow;
}